/*************************************************************************************************************************************/
/*********************** RESET DESKTOP ***********************/
/*************************************************************************************************************************************/


*{
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, div {
    display: block;
}

html {
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
}


/*************************************************************************************************************************************/
/*********************** VERSION DESKTOP ***********************/
/*************************************************************************************************************************************/


/**** SYSTEME DE GRILLES ********************************************************************************************/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



/** on aligne les colonnes les unes à côté des autres avec la propriété float **/
[class*="col-"] {
    float: left;
    /*
    padding: 0 15px;
    */
}

/** chaque rangée de colonnes doit être enveloppée dans une div de class "row".
    on applique un clear:both sur chaque row afin d'annuler l'effet de float
    et éviter que les éléments suivants remontent et entourent le "row"**/
.row:after {
    content: "";
    clear: both;
    display: block;
}

/*END SYSTEME DE GRILLES*************************************************************************************/

body {
    min-width: 900px;
    max-width: 1400px;
}

#wrapper {
    width: 100%;
    text-align: center;
    margin: auto;
}



/*********************** HEADER ***********************/

/* --------------------------------------------- */
/* TOP */

#top {
    position: relative;
    height: 100px;
}

#logo, #connexion {
    display: inline-block;
    vertical-align: bottom;
}

#top>a {
    position: absolute;
    left: 20px;
    top: 20px;
}

#logo {
    height: 60px;
}

#connexion {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

#connexion a {
    text-decoration: none;
    color: #000000;
    padding: 5px;
    width: 200px;
    display: inline-block;
}

#connexion a:first-of-type {
    border: 1px solid #ff5e2d;
    margin-right: 10px;
    /*box-shadow: 2px 2px 0 #9b9b9b;*/
}

#connexion a:last-of-type {
    border: 1px solid #5cc6e3;
}


/* --------------------------------------------- */
/* IMG_ACCUEIL */

#img_accueil {
    position: relative;
}

#img_accueil>img {
    width: 100%;
}

#img_accueil h1 {
    position: absolute;
    top: 20px;
    margin: auto;
    text-align: center;
    width: 100%;
    color: #2278b9;
    text-shadow: 2px 2px 0 #fff;
}


/* --------------------------------------------- */
/* NAV */

nav {
    /*background-color: #2278b9;*/
    width: 540px;
    margin: -88px auto 0;
}
.rubrique {
    background-color: #fff;
    width: 150px;
    display: inline-block;
}

#menu a {
    text-decoration: none;
}

#menu a:nth-of-type(2) {
    margin: 0 20px;
}

.rubrique hr {
    width: 50px;
}

.rubrique h4 {
    text-transform: uppercase;
    font-size: 1rem;
    color: #3b4452;
}




/* --------------------------------------------- */
/* FORMULAIRE RECHERCHE ACCUEIL */

#form_recherche {
    background-color: #ff5e2d;
    padding: 50px;
    margin-top: 50px;
}

#form_recherche div {
    display: inline-block;
}

#form_recherche label {
    font-size: 1.5rem;
    margin: 0 5px 0 15px;
}

#form_recherche select, #form_recherche input {
    border-radius: 0;
    height: 40px;
    width: 180px;
}

/*#form_recherche>input {*/
    /*display: block;*/
    /*background-color: #2278b9;*/
    /*margin: auto;*/
/*}*/

#search_submit {
    border-radius: 0;
    padding: 0 10px;
    margin-left: 30px;
}


/* --------------------------------------------- */

.active h4 {
    color: #2278b9;
}



/*********************** MAIN ***********************/

/* --------------------------------------------- */
/* SECTION AVANTAGES */

#avantages {
    margin: 50px 0;
}

.avantages {
    display: inline-block;
    width: 30%;
    padding: 15px;
}

.avantages img {
    width: 100px;
    border: 1px solid #3b4452;
    border-radius: 50px;
}


/* --------------------------------------------- */
/* SECTION COMMENT ÇA MARCHE */

#ccm {
    margin-top: 50px;
}


/* --------------------------------------------- */
/* SECTION CANDIDATS */

#candidats {
    background-color: silver;
    padding: 50px;
}

#candidats div {
    display: inline-block;
    width: 30%;
    border: 1px solid black;
}

#candidats div img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: white;
}



/*********************** FOOTER ***********************/

footer section:first-of-type {
    background-color: #2278b9;
    padding: 50px;
}


footer section:last-of-type {
    background-color: #3b4452;
    padding: 50px;
}

footer a {
    text-decoration: none;
    color: #fff;
}

#liens_sociaux img {
    width: 50px;
    border-radius: 25px;
}

#liens_sociaux a:nth-of-type(2) {
    margin: 0 20px;
}














