/*************************************************************************************************************************************/
/*********************** RESET DESKTOP ***********************/
/*************************************************************************************************************************************/


*{
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, div {
    display: block;
}

html {
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
}

a{
    text-decoration: none;
}

/*************************************************************************************************************************************/
/*********************** VERSION DESKTOP ***********************/
/*************************************************************************************************************************************/


/**** SYSTEME DE GRILLES ********************************************************************************************/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



/** on aligne les colonnes les unes à côté des autres avec la propriété float **/
[class*="col-"] {
    float: left;
    /*
    padding: 0 15px;
    */
}

/** chaque rangée de colonnes doit être enveloppée dans une div de class "row".
    on applique un clear:both sur chaque row afin d'annuler l'effet de float
    et éviter que les éléments suivants remontent et entourent le "row"**/
.row:after {
    content: "";
    clear: both;
    display: block;
}

/*END SYSTEME DE GRILLES*************************************************************************************/

body {
    min-width: 900px;
    max-width: 1400px;
}

#wrapper {
    width: 100%;
    margin: auto;
}

.container {
    /*width: 80%;
    margin: 0 auto;*/
    /*padding: 0 50px 0 50px;*/
    padding: 50px;
}

main h2 {
    color: #ac2546;
    margin-bottom: 50px;
    text-align: center;
}



/*********************** HEADER ***********************/

/* --------------------------------------------- */
/* TOP */

#top {
    position: relative;
    height: 100px;
}

#logo, #connexion {
    display: inline-block;
    vertical-align: bottom;
}

#top>a {
    position: absolute;
    left: 20px;
    top: 20px;
}

#logo {
    height: 60px;
}

#connexion {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

#connexion a {
    text-decoration: none;
    color: #000000;
    padding: 5px;
    width: 200px;
    display: inline-block;
    text-align: center;
}

#connexion a:first-of-type {
    border: 1px solid #ac2546;
    margin-right: 10px;
    /*box-shadow: 2px 2px 0 #9b9b9b;*/
}

#connexion a:last-of-type {
    border: 1px solid #2278b9;
}

/* --------------------------------------------- */
/* FORMULAIRE CONNEXION */

#form_connexion {
    width: 500px;
    margin: auto;
    text-align: center;
}

#form_connexion form {
    border: 1px solid #c0c0c0;
    padding: 20px;
    width: 400px;
    margin: auto;
    border-radius: 5px;
}

#form_connexion label {
    display: block;
    color: #3b4452;
}

#form_connexion input {
    margin: 5px 0 15px;
    width: 350px;
    height: 35px;
    box-shadow: 2px 2px 0 #2c303d inset;
}

#form_connexion form>input:last-of-type {
    background-color: #3b4452;
    color: #fff;
    padding-top: 3px;
    border: none;
}

#form_connexion p {
    color: #3b4452;
}

#form_connexion a {
    text-decoration: none;
    color: #2278b9;
}

#msg_erreur {
    text-align: center;
    margin: 50px auto;
    color: #ac2546;
}


/* --------------------------------------------- */
/* IMG_ACCUEIL */

#img_accueil {
    position: relative;
}

#img_accueil>img {
    width: 100%;
}

#img_accueil h1 {
    position: absolute;
    top: 20px;
    margin: auto;
    text-align: center;
    width: 100%;
    color: #2278b9;
    text-shadow: 2px 2px 0 #fff;
}


/* --------------------------------------------- */
/* NAV */

#menu {
    text-align: center;
}

nav {
    /*background-color: #2278b9;*/
    width: 540px;
    margin: -88px auto 0;
}
.rubrique {
    background-color: #fff;
    width: 150px;
    display: inline-block;
}

#menu a {
    text-decoration: none;
}

#menu a:nth-of-type(2) {
    margin: 0 20px;
}

.rubrique hr {
    width: 50px;
}

.rubrique h4 {
    text-transform: uppercase;
    font-size: 1rem;
    color: #3b4452;
}

.rubrique h4:hover {
    color: #2278b9;
}

.active h4 {
    color: #ac2546;
}


/* --------------------------------------------- */
/* FORMULAIRE RECHERCHE ACCUEIL */

#form_recherche {
    background-color: #ac2546;
    padding: 50px;
    margin-top: 50px;
    text-align: center;
}

#form_recherche div {
    display: inline-block;
}

#form_recherche label {
    font-size: 1.5rem;
    margin: 0 5px 0 15px;
    color: #fff;
}

#form_recherche select, #form_recherche input {
    border-radius: 0;
    height: 40px;
    width: 180px;
}

#form_recherche>input {
    color: #ac2546;
}

#search_submit {
    border-radius: 0;
    padding: 0 10px;
    margin-left: 30px;
}


/* --------------------------------------------- */





/*********************** MAIN ***********************/

/* --------------------------------------------- */
/* SECTION AVANTAGES */

#avantages {
    margin: 50px 0;
    color: #3b4452;
    text-align: center;
}

#avantages h3 {
    color: #2278b9;
}

.avantage {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    padding: 15px;
}

#avantages>p {
    padding: 0 50px;
}

.avantages img {
    width: 100px;
    border: 1px solid #3b4452;
    border-radius: 50px;
}

.avantage:nth-of-type(2) {
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
}



/* --------------------------------------------- */
/* SECTION COMMENT ÇA MARCHE */

#ccm {
    padding: 50px 0;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    margin: 0 50px;
    color: #3b4452;
    text-align: center;
}

#ccm h3 {
    background-color: #3b4452;
    color: #fff;
    padding: 15px;
    width: 270px;
}

#ccm div {
    display: inline-block;
    width: 49%;
    text-align: left;
    padding-left: 100px;
}

#ccm div:last-of-type {
    border-left: 1px solid #c0c0c0;
}

#ccm a {
    text-decoration: none;
    color: #2278b9;
}



/* --------------------------------------------- */
/* SECTION CANDIDATS */

#candidats {
    padding: 50px;
    text-align: center;
}

#candidats div {
    display: inline-block;
    width: 25%;
    margin: 0 2%;
    /*border: 1px solid black;*/
}

#candidats div img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: white;
}

#candidats h3 {
    color: #3b4452;
    margin-bottom: 5px;
}

#candidats a {
    text-decoration: none;
    color: #ac2546;
}

#candidats p {
    margin: 0;
}

#candidats h5 {
    margin: 10px 20px;
    padding-top: 10px;
    border-top: 1px solid #c0c0c0;
}




/*********************** PAGE DÉTAIL ***********************/

/*hr {*/
    /*margin: 0;*/
    /*color: #c0c0c0;*/
/*}*/

#detail {
    border-top: 1px solid #c0c0c0;
    padding: 50px 0;
    margin: 0 auto;
    width: 800px;
    color: #3b4452;
}

#detail>a {
    display: block;
    text-decoration: none;
    color: #2278b9;
    margin: 0 0 20px 20px;
}

#detail>a::before {
    content: url(../images/fleche_retour.png);
    margin-right: 5px;
    position: relative;
    top: 5px;
}

#detail h2 {
    margin: 0 0 10px;
}

#detail h3 {
    margin: 20px 0 5px;
    color: #ac2546;
}

#detail p {
    text-align: justify;
    margin: 0;
}

#detail>img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-right: 30px;
}

#detail>img, #cv, #me_contacter {
    display: inline-block;
    vertical-align: middle;
}

#cv {
    width: 350px;
}

#cv p {
    margin-top: 20px;
    color: #c0c0c0;
}

#me_contacter {
    background-color: #ac2546;
    width: 200px;
    height: 110px;
}

#me_contacter a:first-of-type {
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    line-height: 40px;
    border-bottom: 1px solid #fff;
    margin: 0 30px;
}

#me_contacter img {
    height: 40px;
    text-align: center;
}

#me_contacter>a:nth-of-type(2) img {
    margin: 15px 20px 0 46px;
}

#me_contacter>a:last-of-type img {
    margin: 15px 46px 0 20px;
}

#encadre, #presentation {
    display: inline-block;
    vertical-align: top;
}

#encadre {
    width: 200px;
    margin-right: 30px;
    padding-left: 20px;
}

#encadre img {
    width: 45px;
}

#presentation {
    width: 555px;
}

#detail ul {
    padding: 0;
    margin: 0;
}

#detail li {
    list-style-type: none;
}

#presentation a {
    text-decoration: none;
    color: #2278b9;
    display: block;
    margin-top: 5px;
}

.bold {
    font-weight: bold;
}


/*********************** FOOTER ***********************/

footer {
    background-color: #3b4452;
    color: #fff;
    text-align: center;
}

footer section:first-of-type {
    padding: 50px;
}

footer section:first-of-type div {
    display: inline-block;
    width: 30%;
}

footer li {
    text-align: left;
    color: #fff;
    padding: 2px 0;
}

footer a:hover {
    color: #2278b9;
}

footer hr {
    color: #fff;
    margin: 0 50px;
}

footer section:last-of-type {
    padding: 50px;
}

footer a {
    text-decoration: none;
    color: #fff;
}

#liens_sociaux img {
    width: 50px;
    border-radius: 25px;
}

#liens_sociaux a:nth-of-type(2) {
    margin: 0 20px;
}

footer span {
    color: #2278b9;
}





/* ---------------------- PAGE CATEGORIE pilar  ------------------------ */

.pa_column_gouche{
    background-color: #f2f2f2;
    min-height: 100px;
}
.pa_column_droite{
    /*background-color: #d9d9d9;*/
    min-height: 100px;
}
.pa_carte img{
    max-width: 100%;
}

.pa_resultats{
    box-shadow: 0 0 5px #ddd;
    /*background-color: #e6ffff;*/
    /*min-height: 100px;*/
    margin: 0 0 10px 20px;
}
.photo_profil{
    text-align: center;
    margin-top: 20px;

}
.pa_info_profil .picto_accueil{
    margin-bottom: 10px;
    text-align: right;

}

.picto_accueil img{
    border-radius: 150px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .8);
    margin-right: 10px;
}
.pa_info_profil{
    /*padding-right: 10px;*/
    padding: 20px;
    background-color: #f5f5f5;
}
.pa_info_profil h3{
    margin: 0;
    border-radius: 150px;
}
.pa_info_profil p{
    margin: 0;
}
.pa_info_profil p span{
    font-size: 0.8rem;
    color: #ff5e2d;
}
/*form*/

.pa_form_categorie{
    padding: 20px;
}
.pa_form_categorie h3{
    margin: 0;
}
.pa_form_categorie h4{
    margin: 20px 0 5px 0;
}

.pa_navigation_cat{
    margin: 0 0 10px 20px;
    text-align: center;
}

.invalid {
    background-color: #ffffcc;
}

/* ---------------------- INSCRIPTION ETAPE 1 ET 2 pilar  ------------------------ */

.pa_icons_cat img{
    width: 40%;
}

.icon_categories{
    border: 1px solid #c0c0c0;
    height: 280px;
    padding: 50px 10px 0 10px;
    text-align: center;

}
.icon_categories:hover{
    border-bottom: 7px solid #ac2546;
}

.pa_icons_cat h4 {
    text-transform: uppercase;
    font-size: 1rem;
    color: #3b4452;
    margin: 10px 0 0 0;
}

.pa_icons_cat h4:hover {
    color: #ac2546;

}

.pa_icons_cat p {
    color: #999;
    margin: 0;
}

/* ---------------------- INSCRIPTION FORMULAIRE pilar  ------------------------ */
#form_inscripion {
    width: 600px;
    margin: auto;
    text-align: center;
}

#form_inscripion span {
    color: #ac2546;
}

#form_inscripion form {
    border: 1px solid #c0c0c0;
    padding: 20px;
    margin: auto;
    border-radius: 5px;
}

#form_inscripion label {
    display: block;
    color: #3b4452;
}
#form_inscripion select#horaire {
    width: 200px;
    border: 1px solid #999;
    height: 30px;
    margin: 10px 0 10px 0;
    text-align: left;
}

#form_inscripion .calendrier{
    width: 200px;
}

#form_inscripion select#horaire, .calendrier{
    display: inline-block;
    vertical-align: top;
}

#form_inscripion input {
    margin: 5px 0 15px;
    width: 500px;
    height: 35px;
}
#form_inscripion textarea {
    margin-top: 10px;
}
#form_inscripion p {
    color: #ac2546;
    font-size: 0.9rem;
}

#form_inscripion p span {
    color: #3b4452;

}

#form_inscripion a {
    text-decoration: none;
    color: #ac2546;
}

#form_inscripion input[type="submit"] {
    background-color: #3b4452;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
}
#form_inscripion input[type="submit"]:hover {
    background-color: #ac2546;
}
